.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2FAEA; 
    padding: 10px;
    margin: 0;
  }

  .navbar .nav-item .active {
      color: #00be1d;
    }

    .navbar .nav-link {
      color: black;
    }

    .navbar .nav-link:hover {
      color: rgb(0, 151, 0);
    }

  .navbar-logo {
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar-menu {
    display: flex;
    margin: 0;
  }
  
  .navbar-menu li {
    list-style: none;
    margin-left: 20px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
  }
  
  .column {
    flex: 1;
    padding: 20px;
  }
  
  .column h2 {
    margin-bottom: 10px;
  }
  
  .categories-list {
    list-style: none;
    padding: 0;
  }
  
  .categories-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .category-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .expense-options {
    margin-bottom: 10px;
  }
  
  .expense-options button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  }
  
  .expense-options button.active {
    background-color: #bbb;
  }
  
  .expense-list {
    margin-bottom: 20px;
  }
  
  .add-expense-button, .delete-button, .budget-button, .category-button{
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .modal-content button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .budget-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .budget-info label,
  .budget-info input,
  .budget-info button {
    margin-right: 10px;
  }
  
  .budget-remaining {
    font-weight: bold;
  }

  .expense-list .expense-item {
    background-color: #a3fdb1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .expense-list .expense-item:last-child {
    margin-bottom: 0;
  }

  .category-color-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .expense-heading {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 10px; 
  }