.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #E2FAEA; 
      padding: 10px;
      margin: 0;
    }

    .navbar .nav-item .active {
        color: #00be1d;
      }
  
      .navbar .nav-link {
        color: black;
      }
  
      .navbar .nav-link:hover {
        color: rgb(0, 151, 0);
      }

    .navbar-logo {
      font-weight: bold;
      font-size: 20px;
    }
    
    .navbar-menu {
      display: flex;
      margin: 0;
    }
    
    .navbar-menu li {
      list-style: none;
      margin-left: 20px;
    }
    
    /* CSS for main content */
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
      padding: 0 20px;
    }
    
    /* CSS for pie chart */
    .pie-chart {
        width: 400px;
        height: 400px;
        margin-right: 20px;
        border-right-style: solid;
        border-radius: 20px 0 0 20px;
      }
    
    /* CSS for calendar */
    #calendar {
      max-width: 600px;
      margin: 20px;
      background-color: #D0FFD7;
      padding: 20px;
      border-radius: 20px;
    }

    .chart-and-expenses {
        display: flex;
        align-items: flex-start;
        background-color: #D0FFD7;
        border-radius: 20px;
      }

      .total-expenses {
        background-color: #D0FFD7;
        padding: 20px;
        border-radius: 20px;
      }